@import './app/styles/variables.css';
/* You can add global styles to this file, and also import other style files */

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font);
}
